#main-footer {
  background: #343a40;
  color: #fff;
}
#page-header {
  height: 200px;
  background: url("../assets/img/background.jpg");
  background-position: 70% 70%;
  background-attachment: fixd;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
